<%- include("../partials/head") %>

<div class="newestMission">
    <% if (readMission) { %>        
        <h1><%= readMission.title %></h1>

        <p> <%= readMission.skills %> </p>

        <p> <%= readMission.salary %> </p>

        <p> <%= readMission.start_date %> </p>

        <p> <%= readMission.descriptiontwo %> </p>    
    <% } %>  
</div>